


body{
    text-align: center;
    background-color: rgb(167, 230, 230);
    
}

div{
    height:100px;
    width: 500px;
    border: 5px solid black;
    margin: auto;
    border-radius: 10px;

}
button{
    background-color: blue;
    margin: 10px;
    color: white;

}
h3{
    font-family:roboto ;
    font-weight: 30;
}